<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cocteles 🍸</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

   <style>
    body {
      background-color: chocolate;
    }
   </style>


 </head>

<body>
   
 
    <h1>Su Gato es: </h1>
      <p>
        <%= imagen %>  <!-- viene de la renderización en index.js-->
      </p>
    </div>
    <p >
      <%= estado %> <!-- viene de la renderización en index.js-->
    </p>

</body>
</html>

